* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  border-bottom: 50px solid #808184;
  color: #808184;
}

.container,
.flex-container {
  margin: auto;
  max-width: 650px;
  width: 95%;
}

.flex-container {
  display: flex;
  min-height: 90vh;
  margin: 60px auto 0 auto;
  flex-direction: column;
}

.flex-content {
  margin-top: 60px;
  flex: 1;
}

.text-sm { font-size: 1em; }
.text-lg { font-size: 2.25em; }
.text-right { text-align: right; }

.header {
  display: block;
  width: 40%;
  padding-bottom: 10%;
  background: url("header.svg");
  background-size: 100%;
  background-position: 0 0;
}

.header:HOVER { background-position: 0 100%; }

.footer {
  padding-top: 10px;
  background-color: #808184;
  color: #fff;
}

.icons-list {
  list-style: none;
  width: 100%;
}

.icons-list li {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  padding-bottom: 25%;
}

.icon {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("icons.svg");
  background-size: 500%;
}

.graphics-icon { background-position:   0% 0; }
.graphics-icon.active,
.graphics-icon:HOVER { background-position: 0 100%; }

.products-icon { background-position: 150% 0; }
.products-icon.active,
.products-icon:HOVER { background-position: 150% 100%; }

.drawings-icon { background-position: 300% 0; }
.drawings-icon.active,
.drawings-icon:HOVER { background-position: 300% 100%; }

.contact-icon { background-position: 200% 0; }
.contact-icon.active,
.contact-icon:HOVER { background-position: 200% 100%; }
