* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  border-bottom: 50px solid #808184;
  color: #808184;
}

.flex-container {
  display: flex;
  min-height: 90vh;
  width: 100%;
  flex-direction: column;
}

.flex-content {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 650px;
  margin: 60px auto 0 auto;
}

.text-sm { font-size: 1em; }
.text-lg { font-size: 2.25em; }

.header {
  display: block;
  width: 50%;
  padding-bottom: 12.5%;
  background: url("header.svg");
  background-size: 100%;
  background-position: 0 0;
}

.header:HOVER { background-position: 0 100%; }

.icons-list {
  list-style: none;
  width: 100%;
}

.icons-list li {
  position: relative;
  display: inline-block;
  float: left;
  width: 25%;
  padding-bottom: 30%;
}

.icon {
  display: block;
  position: absolute;
  top: 10; right: 10;
  left: 10; bottom: 10;
  background: url("icons.svg");
  background-size: 400%;
}

.markbrand-icon       { background-position: 0 0; }
.clock-icon           { background-position: 100% 0; }
.drawing-icon         { background-position: 200% 0; }
.product-icon         { background-position: 300% 0; }
.markbrand-icon.active,
.markbrand-icon:HOVER { background-position: 0 100%; }
.clock-icon.active,
.clock-icon:HOVER     { background-position: 100% 100%; }
.drawing-icon.active,
.drawing-icon:HOVER   { background-position: 200% 100%; }
.product-icon.active,
.product-icon:HOVER   { background-position: 300% 100%; }
