<html>
<head>

  <title>{{ page.title }}</title>
  <!-- TODO: add other meta tags -->
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{ site.github.url }}/style.css" rel="stylesheet" type="text/css">
  <link href="{{ site.github.url }}/favicon.png" rel="icon" type="image/png">

</head>
<body>

  <div class="white">
    <div class="flex-container">
      <header><a href="/"><div class="header"></div></a></header>
      <section class="flex-content">{{ content }}</section>
    </div>
    <div class="footer">
      <div class="container">
        <footer class="text-right">theterenceedwards@gmail.com</footer>
      </div>
    </div>
  </div>

  <script type="text/javascript">document._EUGO = "f459f5d66ffb4acc493e"; document.head.appendChild(function() { var s = document.createElement('script'); s.src = 'https://eugo.ws/eugo.js'; s.async = 1; return s; }());</script>

</body>
</html>
